/* ===================== */
/* PAGE ANIMATION */
/* ===================== */

main{

animation:
pageEnter
1.2s
ease;

}

@keyframes pageEnter{

from{

opacity:0;

transform:
translateY(40px);

}

to{

opacity:1;

transform:
translateY(0);

}

}

.animate-fade-up{

animation:
fadeUp
1s
ease;

}

@keyframes fadeUp{

0%{

opacity:0;

transform:
translateY(60px);

}

100%{

opacity:1;

transform:
translateY(0);

}

}

/* ===================== */
/* TERMINAL */
/* ===================== */

.terminal{

background:

linear-gradient(
180deg,
#081425,
#050b16
);

border:

1px solid
#1e3a8a;

border-radius:

28px;

overflow:hidden;

box-shadow:

0 0 60px
rgba(
59,
130,
246,
0.15
);

backdrop-filter:
blur(20px);

}

/* HEADER */

.terminal-header{

display:flex;

align-items:center;

padding:

16px
22px;

background:

rgba(
255,
255,
255,
0.03
);

border-bottom:

1px solid
#1e293b;

}

.terminal-buttons{

display:flex;

gap:10px;

}

.terminal-buttons span{

width:12px;

height:12px;

border-radius:999px;

}

.terminal-buttons span:nth-child(1){

background:#ff5f57;

}

.terminal-buttons span:nth-child(2){

background:#febc2e;

}

.terminal-buttons span:nth-child(3){

background:#28c840;

}

.terminal-title{

margin-left:20px;

font-size:14px;

color:#94a3b8;

}

/* BODY */

.terminal-body{

padding:40px;

text-align:left;

}

.terminal-line{

font-family:
monospace;

font-size:18px;

margin-bottom:20px;

}

.terminal-user{

color:#60a5fa;

}

.terminal-path{

color:#38bdf8;

}

.typing{

display:inline-block;

overflow:hidden;

white-space:nowrap;

width:0;

animation:

typing
2s
steps(18)
forwards;

margin-left:10px;

}

@keyframes typing{

to{

width:15ch;

}

}

.terminal-output{

font-family:
monospace;

font-size:22px;

color:white;

line-height:1.8;

animation:

appear
1s;

}

@keyframes appear{

from{

opacity:0;

transform:
translateY(20px);

}

to{

opacity:1;

transform:
translateY(0);

}

}

/* BLINK */

.cursor{

display:inline-block;

width:10px;

height:22px;

background:

#3b82f6;

margin-left:6px;

animation:

blink
1s
infinite;

}

@keyframes blink{

50%{

opacity:0;

}

}

/* ===================== */
/* CARD ANIMATION */
/* ===================== */

button{

transition:
all
0.4s;

}

button:hover{

transform:

translateY(-8px);

}

button:active{

transform:

scale(.97);

}

/* SECTION APPEAR */

section{

animation:

fadeSection
1.2s;

}

@keyframes fadeSection{

from{

opacity:0;

transform:
translateY(50px);

}

to{

opacity:1;

transform:
translateY(0);

}

}